@import "~styles/_variables.scss";

.cntPersonalInfo {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
.infoLabel {
    &:after {
        content: ":"
    }
}


@media (min-width: $smallDeviceWidth)  {
    .cntPersonalInfo {
        align-items: flex-start;
        text-align: left;
    }
    .cntInfo {
        display: flex;
    }
    .infoLabel {
        min-width: $photoWidth + $photoMargin;
    }
}