@import "~styles/_variables.scss";

.subTitle {
    font-size: 16px;
    font-weight: bold;
    color: $color;
}

.title {
    composes: subTitle;
    font-size: 16px;
}

.marginTopLarge {    
    margin-top: 20px;
}

.marginTopMiddle {
    margin-top: 12px;
}