$smallDeviceWidth: 450px;
$mediumDeviceWidth: 900px;
$color: #373d48;
$color2: #ddd;
$iconWidth: 34px;
$periodWidth: 65px;
// propertion of columns
$mainCol: 2;
$additionalCol: 1;
$colMargin: 30px;
//------------------------