$smallDeviceWidth: 450px;
$mediumDeviceWidth: 900px;
$photoWidth: 100px;
$photoMargin: 30px;
$color: #373d48;
$color2: #ddd;
// propertion of columns
$mainCol: 2;
$additionalCol: 1;
//------------------------