@import "~styles/_variables.scss";
@font-face {
  font-family: 'Ebrima';
    //fonts are stored in src/fonts. stlyes should be compiledin a root (deploy folder, see webpack.config)
  src: url("fonts/ebrima.ttf"), url("fonts/ebrimabd.ttf");
}
.resume {
    font-family: "Ebrima";
    font-size: 14px;
    color: $color;
    
    ul {
        padding-left: 20px;
    }
}