@import "~styles/_variables.scss";
@import "~styles/_mixins.scss";

$iconMargin: 15px;

.contentRow {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.rowIcon {
    width: $iconWidth;
    text-align: center;
    margin-right: $iconMargin;
}

.circle {
    display: inline-block;
    color: white;
    font-size: 6px;
    background: $color;
    @include circle(10px);
    
    &.middle {
        font-size: 16px;
        @include circle(34px);        
    }
}

.rowContent {
    flex: 1;
}

.rowPeriod {
    flex: 1 100%;
    margin-left: $iconWidth + $iconMargin;
}


@media (min-width: $mediumDeviceWidth)  {
    .contentRow {
        flex-wrap: nowrap;
    }
    
    .rowPeriod {
        order: -1;
        margin-left: 0;
        flex: 0 auto;
        width: $periodWidth;
    }
}