@import "~styles/_variables.scss";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;    
}


@media (min-width: $mediumDeviceWidth)  {
    .header {
        flex-direction: row;
    }
    
    .header-person {
        flex: 2;
    }
    
    .header-info {
        flex: 1;
    }
}