@import "~styles/_variables.scss";
@import "~styles/_mixins.scss";

.cnt-person {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.cnt-photo, .cnt-name {
}

.cnt-name {
}

.person-name {
    font-weight: bold;
    font-size: 35px;
}

.person-position {
    font-size: 25px;
}

.person-photo {
    @include circle($photoWidth);
    background: white;
    overflow: hidden;
    
    img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: $smallDeviceWidth)  {
    .cnt-person {
        flex-flow: row;
    }
    
    .cnt-name {
        text-align: left;
        margin-left: $photoMargin;
    }
}