@import "~styles/_variables.scss";
@import "~styles/_mixins.scss";

.cntPerson {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.personName {
    font-weight: bold;
    font-size: 35px;
}

.personPosition {
    font-size: 25px;
}

.personPhoto {
    @include circle($photoWidth);
    background: white;
    overflow: hidden;
    
    img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: $smallDeviceWidth)  {
    .cntPerson {
        flex-flow: row;
    }
    
    .personPhoto {
        margin-right: $photoMargin;
    }
    
    .cntName {
        text-align: left;
    }
}